/* COMPUTER SCREEN */
/* SMARTPHONE SCREEN */
/* TABLET SCREEN */

.comment {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.author {
    grid-area: avatar;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}

.author p {
    background-color: transparent;
    border: none;
    color: #00132C;
    font-family: "Avenir Next LT W01 Bold", sans-serif;
    font-size: calc(5px + 1vw);
    font-weight: 700;
    line-height: normal;
    padding: 2%;
    position: relative;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 0;
}

.body {
    background: #D5EDF6;
    border-radius: .4em;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.up-votes, .comments-nr {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.up-votes img, .comments-nr img {
    width: 1.5em;
    height: auto;
    margin-right: 5px;
}

.additional-info {
    display: flex;
    align-items: center;
}

@media screen and (max-aspect-ratio: 1/1) {
    .comment {
        display: flex;
        flex-direction: column;
    }

    .additional-info {
        justify-content: space-between;
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    .comment {
        display: flex;
        flex-direction: column;
    }

    .additional-info {
        justify-content: space-between;
    }
}
