header {
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 10vh auto;
  grid-template-areas: 
    "logo searchbar"
    "logo subreddits";
  align-items: start;
  gap: 1%;
}

figure {
  grid-area: logo;
  margin: 0;
  position: relative;
}

form {
  grid-area: searchbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

menu {
  grid-area: subreddits;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex: 1;
  flex-wrap: wrap;
}

li.subreddit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  min-width: 15%;
  flex-grow: 1;
}

.subredditLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.subredditButton {
  background-color: #266DB6;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

input[type="text"] {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding: 16px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: -1px;
  flex-grow: 1;
  font-size: calc(12px + 0.5vw);
}

input[type="text"]:focus {
  outline: none;
  border-color: #6DCFF6;
}

input[type="text"]::placeholder {
  color: #00132C;
  opacity: 0.7;
}

/* Adjustments for responsiveness */
@media screen and (max-aspect-ratio: 5/6) {
  header {
    grid-template-rows: auto auto;
    grid-template-areas: 
      "logo searchbar"
      "subreddits";
  }

  menu {
    flex-direction: row;
    align-items: start;
    justify-content: start;
  }

  li.subreddit {
    min-width: 100px;
  }
}
