header {
  margin: 1%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "logo searchbar"
    "logo subreddits";
  border: 1px solid;
  align-items: start;
  gap: 1%;
}

figure {
  grid-area: logo;
  margin: 0;
  position: relative;
  border: 1px solid red;
}

form {
  grid-area: searchbar;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

menu {
  grid-area: subreddits;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  justify-content: start;
  margin: 0;
  border: 5px solid green;
  padding: 0;
  align-items: stretch;
}

li {
  display: flex;
  flex-basis: auto; /* Initial base width */
  flex-grow: 1;
  flex-direction: column;
  border: 1px solid black;
  align-items: center;
  justify-content: space-between;
  margin: 1%;
  min-width: 100px;
}

.subredditLogo {
  max-width: 10vw;
  object-fit: contain;
  display: block;
}

button {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-weight: 700;
  line-height: 1vw;
  padding: 1vw 1vw;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 1.5vw;
  width: 100%;
  align-self: flex-end; /* Position at the bottom */
}

form button {
  align-self: auto;
  width: auto;
  min-width: 200px;
}

button:hover,
button:active {
  outline: 0;
}

button:hover {
  background-color: transparent;
  cursor: pointer;
}

button:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

button:hover:before {
  background-color: #6DCFF6;
}

input[type="text"] {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold", sans-serif;
  font-weight: 700;
  line-height: 24px;
  padding: 16px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: -1px;
  flex-grow: 1;
}

input[type="text"]:focus {
  outline: none;
  border-color: #6DCFF6;
}

input[type="text"]::placeholder {
  color: #00132C;
  opacity: 0.7;
}

/* Adjustments for responsiveness */
@media screen and (max-aspect-ratio: 5/6) {
  header {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "logo"
      "searchbar"
      "subreddits";
  }

  menu {
    justify-content: center;
  }

  li {
    min-width: 200px; /* Adjust for smaller screens */
  }
}
